# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["School ID"].unique())
school_count

15

In [3]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
student_data["#passing_math"] = student_data["math_score"] >= 70
student_data["#passing_reading"] = student_data["reading_score"] >= 70
percent_passing_math = ((student_data["#passing_math"]).mean())*100
percent_passing_math

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
percent_passing_reading = ((student_data["#passing_reading"]).mean())*100
percent_passing_reading

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2
overall_passing_rate

80.39315802910392

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_results = [{"Total Schools": school_count, 
            "Total Students": student_count, 
            "Total Budget": total_budget, 
            "Average Math Score":  round(average_math_score,2), 
            "Average Reading Score":  round(average_reading_score,2), 
           "% Passing Math": round(percent_passing_math,2),
           "% Passing Reading": round(percent_passing_reading,2),
            "% Overall Passing Rate": round(overall_passing_rate,2)}]
district_summary_table = pd.DataFrame(district_results)

#Formatting
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:,.2f}%".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:,.2f}%".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:,.2f}%".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,.2f}".format)
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)

#Display
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

In [11]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(['school_name']) 
per_school_counts

In [13]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [15]:
per_school_counts_series = per_school_counts.iloc[:1]
per_school_counts_series

Bailey High School    4976
Name: school_name, dtype: int64

In [16]:
per_school_capita = per_school_budget / per_school_counts_series
per_school_capita

Bailey High School       628.0
Cabrera High School        NaN
Figueroa High School       NaN
Ford High School           NaN
Griffin High School        NaN
Hernandez High School      NaN
Holden High School         NaN
Huang High School          NaN
Johnson High School        NaN
Pena High School           NaN
Rodriguez High School      NaN
Shelton High School        NaN
Thomas High School         NaN
Wilson High School         NaN
Wright High School         NaN
dtype: float64

In [17]:
per_school_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
per_school_math

In [18]:
# Calculate the average test scores
per_school_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
per_school_reading

In [19]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = [(i/j)*100 for i,j in zip(per_school_math.math_score.count(),per_school_counts)]
school_passing_math

[66.68006430868168,
 36.735979836168866,
 41.9848975188781,
 46.786696674168546,
 46.490335707019334,
 106.06787795680495,
 14.421321650237312,
 83.92466053438457,
 169.2680301399354,
 50.55555555555556,
 150.70982396365702,
 101.10091743119266,
 103.88283378746594,
 222.76507276507277,
 393.44262295081967]

In [20]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = [(i/j)*100 for i,j in zip(per_school_reading.reading_score.count(),per_school_counts)]
school_passing_reading

[81.93327974276528,
 37.870195337114055,
 51.37001078748652,
 54.31357839459865,
 48.35537470328925,
 128.48817278025368,
 15.005476451259584,
 103.89837932544896,
 208.12701829924652,
 51.27777777777778,
 182.16922203293583,
 103.24159021406727,
 108.37874659400546,
 229.1060291060291,
 407.2599531615925]

In [21]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
school_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [22]:
per_school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [24]:
passing_math_and_reading = [(i+j)/2 for i,j in zip(per_school_passing_math,per_school_passing_reading)]
passing_math_and_reading

[3697.5,
 1776.0,
 2163.5,
 2021.5,
 1398.5,
 3421.0,
 403.0,
 2144.0,
 3506.0,
 916.5,
 2931.0,
 1670.5,
 1558.0,
 2173.5,
 1709.5]

In [25]:
passing_math_and_reading_df = pd.DataFrame(passing_math_and_reading)
passing_math_and_reading_df

         0
0   3697.5
1   1776.0
2   2163.5
3   2021.5
4   1398.5
5   3421.0
6    403.0
7   2144.0
8   3506.0
9    916.5
10  2931.0
11  1670.5
12  1558.0
13  2173.5
14  1709.5

In [26]:
per_school_summary = school_data_complete.groupby(['school_name'])
per_school_summary

In [27]:
school_names = school_data_complete.school_name.sort_values().unique()
school_names

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype=object)

In [28]:
school_types = school_data.sort_values(by="school_name").type
school_types

7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object

In [29]:
school_total_students = list(per_school_summary.student_name.count())
school_total_students

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [30]:
school_budget = list(per_school_summary.budget.mean())
school_budget

[3124928.0,
 1081356.0,
 1884411.0,
 1763916.0,
 917500.0,
 3022020.0,
 248087.0,
 1910635.0,
 3094650.0,
 585858.0,
 2547363.0,
 1056600.0,
 1043130.0,
 1319574.0,
 1049400.0]

In [31]:
school_per_student_budget = [i/j for i,j in zip(school_budget,school_total_students)]
school_per_student_budget

[628.0,
 582.0,
 639.0,
 644.0,
 625.0,
 652.0,
 581.0,
 655.0,
 650.0,
 609.0,
 637.0,
 600.0,
 638.0,
 578.0,
 583.0]

In [32]:
school_avg_math_score = list(per_school_summary.math_score.mean())
school_avg_math_score

[77.04843247588424,
 83.06189451022605,
 76.71176670057646,
 77.10259218692954,
 83.35149863760218,
 77.28975188781014,
 83.80327868852459,
 76.62941378128214,
 77.07246376811594,
 83.83991683991684,
 76.84271067766942,
 83.3594548551959,
 83.4183486238532,
 83.2742006132282,
 83.68222222222222]

In [37]:
school_avg_reading_score = list(per_school_summary.reading_score.mean())
school_avg_reading_score

[81.03396302250803,
 83.97578040904197,
 81.15801966768396,
 80.74625775830594,
 83.816757493188,
 80.9344120819849,
 83.81498829039812,
 81.18272197463148,
 80.96639361478681,
 84.04469854469855,
 80.74468617154288,
 83.72572402044293,
 83.84892966360856,
 83.98948751642575,
 83.955]

In [38]:
per_school_summary = pd.DataFrame({"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":school_total_students,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "% Passing Math":passing_math_percentage,
                                  "% Passing Reading":passing_reading_percentage,
                                  "Overall Passing Rate":passing_math_and_reading})

per_school_summary = per_school_summary.reset_index(drop=True)
per_school_summary

NameError: name 'passing_math_percentage' is not defined

In [35]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

KeyError: 'Column not found: Total School Budget'

## Highest-Performing Schools (by % Overall Passing)

In [41]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_5 = per_school_summary.sort_values(by='Overall Passing Rate', ascending=False).head(5).reset_index(drop=True)
top_5

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.749809,0.858055,3697.5
1,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.749809,0.858055,3506.0
2,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.749809,0.858055,3421.0
3,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.749809,0.858055,2931.0
4,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.749809,0.858055,2173.5

## Bottom Performing Schools (By % Overall Passing)

In [42]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bot_5 = per_school_summary.sort_values(by='Overall Passing Rate', ascending=True).head(5).reset_index(drop=True)
bot_5

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.749809,0.858055,403.0
1,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.749809,0.858055,916.5
2,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.749809,0.858055,1398.5
3,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.749809,0.858055,1558.0
4,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.749809,0.858055,1670.5

## Math Scores by Grade

In [43]:
# Function to create series for average math score by grade
def average_math_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_math_score = list(school_summary.math_score.mean())

    # Compile all calculations into dataframe
    average_math_df = pd.DataFrame({"School Names":school_names,
                                    f"{grade} Avg Math Score":school_avg_math_score})

    average_math_df = average_math_df.reset_index(drop=True)
    return average_math_df

# Function to create series for average reading score by grade
def average_reading_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_reading_score = list(school_summary.reading_score.mean())

    # Compile all calculations into dataframe
    average_reading_df = pd.DataFrame({"School Names":school_names,
                                    f"{grade} Avg Reading Score":school_avg_reading_score})

    average_reading_df = average_reading_df.reset_index(drop=True)
    return average_reading_df

In [44]:
# First, create separate dataframes for each grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Then, group by school name and calculate the mean math score for each grade
ninth_graders_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_graders_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine the dataframes for each grade into a single dataframe
math_scores_by_grade = pd.DataFrame({
    "9th Grade Math Score": ninth_graders_scores,
    "10th Grade Math Score": tenth_graders_scores,
    "11th Grade Math Score": eleventh_graders_scores,
    "12th Grade Math Score": twelfth_graders_scores,
})

# Set the index to school names
math_scores_by_grade.index.name = "School Names"
math_scores_by_grade

,9th Grade Math Score,10th Grade Math Score,11th Grade Math Score,12th Grade Math Score
School Names,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [45]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and "grade" and take the mean of each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [46]:
# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = school_data_complete[(school_data_complete["grade"] == "9th")]["reading_score"]
tenth_grade_reading_scores = school_data_complete[(school_data_complete["grade"] == "10th")]["reading_score"]
eleventh_grade_reading_scores = school_data_complete[(school_data_complete["grade"] == "11th")]["reading_score"]
twelfth_grade_reading_scores = school_data_complete[(school_data_complete["grade"] == "12th")]["reading_score"]

In [47]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th Grade Reading Score": ninth_graders_scores,
    "10th Grade Reading Score": tenth_graders_scores,
    "11th Grade Reading Score": eleventh_graders_scores,
    "12th Grade Reading Score": twelfth_graders_scores,
})

reading_scores_by_grade.index.name = "School Names"

# Display the DataFrame
reading_scores_by_grade

,9th Grade Reading Score,10th Grade Reading Score,11th Grade Reading Score,12th Grade Reading Score
School Names,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Scores by School Spending

In [48]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [49]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [50]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,,
<$585,NaN,NaN,NaN,NaN,NaN,NaN
$585-630,NaN,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Passing Rate"]

In [52]:
# Assemble into DataFrame 
spending_summary = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})
spending_summary

# Use pd.cut to categorize spending based on the bins
spending_summary = per_school_summary[["Average Math Score",
                                         "Average Reading Score",
                                         "% Passing Math",
                                         "% Passing Reading",
                                         "Overall Passing Rate"]].copy() 
spending_summary.loc[:, "Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], 
                                                             spending_bins, labels=group_names)
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
0,77.048432,81.033963,0.749809,0.858055,3697.5,$585-630
1,83.061895,83.975780,0.749809,0.858055,1776.0,<$585
2,76.711767,81.158020,0.749809,0.858055,2163.5,$630-645
3,77.102592,80.746258,0.749809,0.858055,2021.5,$630-645
4,83.351499,83.816757,0.749809,0.858055,1398.5,$585-630
5,77.289752,80.934412,0.749809,0.858055,3421.0,$645-680
6,83.803279,83.814988,0.749809,0.858055,403.0,<$585
7,76.629414,81.182722,0.749809,0.858055,2144.0,$645-680
8,77.072464,80.966394,0.749809,0.858055,3506.0,$645-680
9,83.839917,84.044699,0.749809,0.858055,916.5,$585-630
10,76.842711,80.744686,0.749809,0.858055,2931.0,$630-645
11,83.359455,83.725724,0.749809,0.858055,1670.5,$585-630
12,83.418349,83.848930,0.749809,0.858055,1558.0,$630-645
13,83.274201,83.989488,0.749809,0.858055,2173.5,<$585
14,83.682222,83.955000,0.749809,0.858055,1709.5,<$585

## Scores by School Size

In [53]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [54]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)
per_school_summary

In [55]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["Overall Passing Rate"]

In [56]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = per_school_summary.groupby("School Size").mean()
# Use pd.cut to categorize spending based on the bins
size_summary["School Size Summary"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=size_labels)
size_summary = per_school_summary[["Average Math Score",
                                         "Average Reading Score",
                                         "% Passing Math",
                                         "% Passing Reading",
                                         "Overall Passing Rate"]].copy() 
size_summary.loc[:, "School Size"] = pd.cut(per_school_summary["Total Students"], 
                                                             size_bins, labels=size_labels)
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,School Size
0,77.048432,81.033963,0.749809,0.858055,3697.5,Large (2000-5000)
1,83.061895,83.975780,0.749809,0.858055,1776.0,Medium (1000-2000)
2,76.711767,81.158020,0.749809,0.858055,2163.5,Large (2000-5000)
3,77.102592,80.746258,0.749809,0.858055,2021.5,Large (2000-5000)
4,83.351499,83.816757,0.749809,0.858055,1398.5,Medium (1000-2000)
5,77.289752,80.934412,0.749809,0.858055,3421.0,Large (2000-5000)
6,83.803279,83.814988,0.749809,0.858055,403.0,Small (<1000)
7,76.629414,81.182722,0.749809,0.858055,2144.0,Large (2000-5000)
8,77.072464,80.966394,0.749809,0.858055,3506.0,Large (2000-5000)
9,83.839917,84.044699,0.749809,0.858055,916.5,Small (<1000)
10,76.842711,80.744686,0.749809,0.858055,2931.0,Large (2000-5000)
11,83.359455,83.725724,0.749809,0.858055,1670.5,Medium (1000-2000)
12,83.418349,83.848930,0.749809,0.858055,1558.0,Medium (1000-2000)
13,83.274201,83.989488,0.749809,0.858055,2173.5,Large (2000-5000)
14,83.682222,83.955000,0.749809,0.858055,1709.5,Medium (1000-2000)

## Scores by School Type

In [57]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["Overall Passing Rate"]

# Select new column data
average_math_score_by_type = type_math_scores
average_reading_score_by_type = type_reading_scores
average_percent_passing_math_by_type = type_passing_math
average_percent_passing_reading_by_type = type_passing_reading
average_percent_overall_passing_by_type = type_overall_passing

In [58]:
type_summary = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,0.749809,0.858055,1450.687500
District,76.956733,80.966636,0.749809,0.858055,2840.642857

In [59]:
# # Format the DataFrame.
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:.1f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.1f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}".format)
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,0.75,0.86,1450.69
District,77.0,81.0,0.75,0.86,2840.64

# Written Report (15 points)
To receive all points, the written report presents a cohesive written analysis that:

Summarizes the analysis (5 points)

The analysis shows that school size and budget can have an impact on the students' math and reading scores.

Draws two correct conclusions or comparisons from the calculations (10 points)